{% extends "base.html" %}
{% block content %}
  {% if came_from == 'library' %}
  <a class="back-link" href="/library"><i class="ti ti-arrow-left" aria-hidden="true"></i>Back to Library</a>
  <a class="btn-link small" href="/library/shows/{{ series_id }}/season/{{ season_number }}" style="margin-left: 0.5rem;">Show all episodes</a>
  {% else %}
  <a class="back-link" href="/library/shows/{{ series_id }}"><i class="ti ti-arrow-left" aria-hidden="true"></i>Back to {{ series_title or 'Unknown series' }}</a>
  {% endif %}

  {% include "partials/season_detail_card.html" %}
{% endblock %}
