{% extends "base.html" %}
{% block content %}
  {% if came_from == 'library' %}
  <a class="back-link" href="/library"><i class="ti ti-arrow-left" aria-hidden="true"></i>Back to Library</a>
  <a class="btn-link small" href="/library/shows/{{ series_id }}" style="margin-left: 0.5rem;">Show all seasons</a>
  {% else %}
  <a class="back-link" href="/library/shows"><i class="ti ti-arrow-left" aria-hidden="true"></i>Back to TV Shows</a>
  {% endif %}

  {% include "partials/show_detail_card.html" %}
{% endblock %}
